@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Lobster&family=Raleway&display=swap");

body {
  background: rgb(52, 131, 52);
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}
.App {
  max-width: 860px;
  margin: 40px auto; /*centralisies the 860px*/
}
button {
  background: none;
  border: 5px solid white;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(180, 73, 180);
}
.card img {
  max-width: 100%; /*makes it fit its container*/
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  height: 220px;
  width: 210px;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media screen and (max-width: 600px) {
  .card-grid {
    width: 100%;
  }
}
.card {
  position: relative;
}
.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
